<div class="contact-picdiv">
    <a href="/photos">
        <%= image_tag 'contact4.jpg', :class => "contact-pic" %>
    </a> 
</div>

<div class="love">
  <p class="love">
    WE'D LOVE TO HEAR FROM YOU!
  </p>
</div>

<div class="contact-oneliner">
    <div>
        <p class="contact-oneliner">
            For more information about GEC, to contact our Executive Team, or to volunteer or donate, please send us an email at: <a href="mailto:girlsengineeringchange@gmail.com">girlsengineeringchange@gmail.com</a>
            <br>
            For updates, photos, and information about upcoming GEC events, follow us on <a href="https://www.facebook.com/pages/Girls-Engineering-Change/500986659983924?fref=ts">Facebook</a>!

            <iframe src="https://docs.google.com/forms/d/1o_fZMU9sry5LN7nqMVVl-5C2FCdlNoyyflCOG-WLu08/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </p>
    </div>
</div>